# New York Movies Scene

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('Film_Permits.csv',skipinitialspace = True)
df = pd.DataFrame(df)
df.dropna(inplace=True)

In [3]:
# set date time format
df["StartDateTime"] = pd.to_datetime(df["StartDateTime"])
df["EndDateTime"] = pd.to_datetime(df["EndDateTime"])
df["EnteredOn"] = pd.to_datetime(df["EnteredOn"])

In [4]:
#clean CommunityBoard and PolicePrecinct
def setMean(columns):
    mean = []
    for cell in df[columns]:
    #     cell to string
        getCell = str(cell)
        #   if the first character is not a number remove it
        if getCell[0].isnumeric() == False:
            getCell = getCell[1:]
    #     cell to numpy array seperated by comma
        seperateCell = np.array(np.fromstring(getCell, dtype=int, sep=','))
    #     appaned mean
        mean.append(int(np.mean(seperateCell)))
    return mean

# clean Zipcodes
def setZip(code):
    postCode = []
    for zipcode in df['ZipCode(s)']:
        getZip = str(zipcode)
        # check if , is in the string
        if "," in getZip:
            # slicing off after length computation
            res = getZip[:getZip.index(',') + len(',') -1]
            postCode.append(int(res))
        else:
            postCode.append(int(getZip))
    return postCode

In [5]:
movie_scene = df
# remove spaces
movie_scene['CommunityBoard(s)'] = movie_scene['CommunityBoard(s)'].str.replace(' ','')
movie_scene['PolicePrecinct(s)'] = movie_scene['PolicePrecinct(s)'].str.replace(' ','')
# convert muitple CommunityBoard & PolicePrecinct to mean and set coloumn values as mean
movie_scene['CommunityBoard(s)'] =  setMean('CommunityBoard(s)')
movie_scene['PolicePrecinct(s)'] = setMean('PolicePrecinct(s)')
# convert multiple zipcodes to one zip code and replace zip code coloumn
movie_scene['ZipCode(s)'] = setZip('ZipCode(s)')
movie_scene.head()

,EventID,EventType,StartDateTime,EndDateTime,EnteredOn,EventAgency,ParkingHeld,Borough,CommunityBoard(s),PolicePrecinct(s),Category,SubCategoryName,Country,ZipCode(s)
0,446040,Shooting Permit,2018-10-19 14:00:00,2018-10-20 04:00:00,2018-10-16 11:57:27,"Mayor's Office of Film, Theatre & Broadcasting",THOMPSON STREET between PRINCE STREET and SPRI...,Manhattan,2,1,Television,Cable-episodic,United States of America,10012
1,446168,Shooting Permit,2018-10-19 14:00:00,2018-10-20 02:00:00,2018-10-16 19:03:56,"Mayor's Office of Film, Theatre & Broadcasting",MARBLE HILL AVENUE between WEST 227 STREET an...,Manhattan,10,42,Film,Feature,United States of America,10034
2,186438,Shooting Permit,2014-10-30 07:00:00,2014-10-31 02:00:00,2014-10-27 12:14:15,"Mayor's Office of Film, Theatre & Broadcasting",LAUREL HILL BLVD between REVIEW AVENUE and RUS...,Queens,3,106,Television,Episodic series,United States of America,11378
3,445255,Shooting Permit,2018-10-20 07:00:00,2018-10-20 18:00:00,2018-10-09 21:34:58,"Mayor's Office of Film, Theatre & Broadcasting",JORALEMON STREET between BOERUM PLACE and COUR...,Brooklyn,2,84,Still Photography,Not Applicable,United States of America,11201
4,128794,Theater Load in and Load Outs,2013-11-16 00:01:00,2013-11-17 06:00:00,2013-11-07 15:48:28,"Mayor's Office of Film, Theatre & Broadcasting",WEST 31 STREET between 7 AVENUE and 8 AVENUE...,Manhattan,4,14,Theater,Theater,United States of America,10001

In [22]:
month = pd.DataFrame(movie_scene.groupby(pd.to_datetime(movie_scene['StartDateTime'])))
month = pd.DataFrame(month.groupby(month[0].dt.month_name()))
month = month[0]
month

0         April
1        August
2      December
3      February
4       January
5          July
6          June
7         March
8           May
9      November
10      October
11    September
Name: 0, dtype: object

In [40]:
monthlyFilm = movie_scene.where(movie_scene['Category'] == 'Film').dropna()
monthlyFilm = pd.DataFrame(monthlyFilm.groupby(pd.to_datetime(monthlyFilm['StartDateTime']).dt.month_name())['Category'].count())
monthlyFilm

               Category
StartDateTime
April               881
August             1177
December            740
February            584
January             360
July               1287
June               1303
March               724
May                1075
November           1139
October            1310
September           989